<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
 <div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"></ul>

        <h1 class="text text-center text-success "> Edit Videogame</h1>
    </div>
     <div  class="card-body">
         <div class="container">
             <div class="row">
                 <div class="col">
                     <p class="text text-success text-end">  Current Name:</p>
                     <p class="text text-success text-end">Current Genre:</p>
                     <p class="text text-success text-end">Current Release Date:</p>
                     <p class="text text-success text-end">Current Price:</p>
                 </div>
                 <div class="col">
                     <p class="text text-success text-start" th:text="${videogames.getvName()}"></p>
                     <p class="text text-success text-start" th:text="${videogames.getvGenre()}"></p>
                     <p class="text text-success text-start" th:text="${videogames.getvReleaseDate()}"></p>
                     <p class="text text-success text-start" th:text="${videogames.getvPrice()}"></p>
                 </div>
                 <div class="col">
                     <form th:action="@{/videogames/edit}" th:object="${videogames}" method="post" data-bs-theme="dark">
                         <input style="visibility: hidden" type="number" th:field="*{vId}" th:value="*{vId}">
                         <label class="text text-success">New Name</label>
                         <input type="text" th:field="*{vName}" class="form-control text-success" placeholder="Enter the  new name of the videogame">
                         <label class="text text-success">New Genre</label>
                         <input type="text" th:field="*{vGenre}" class="form-control text-success" placeholder="For example: Soulslike, Battle Royale, RPG...">
                         <label class="text text-success">New Release Date</label>
                         <input type="date" th:field="*{vReleaseDate}" class="form-control text-success" placeholder="Enter the release date of the videogame">
                         <label class="text text-success"> New Price</label>
                         <input type="number" inputmode="decimal" th:field="*{vPrice}" class="form-control text-success" placeholder="For example:60.99">

                         <input type="submit" class="form-control btn btn-outline-success mt-2" value="Save">

                     </form>
                 </div>
             </div>

         </div>









     </div>
 </div>
</body>
</html>