<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist"></ul>

        <h1 class="text text-center text-success "> Edit Videogame</h1>
    </div>
     <div class="card-body">
         <label>Current name</label>
         <div></div>
         <label>Edit new name</label>
     </div>
 </div>
</body>
</html>